<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-1 thai-text">ลงทะเบียน</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/dashboard">หน้าหลัก</a></li>

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">ผู้มาติดต่อ</h3>
                        </div>

                        <div class="card-body">
                            <div class="container">

                                <main>
                                    <div class="row gx-5 my-1">
                                        <div class="col-lg-8">
                                            <div id="myProgress" style="width: 100%">
                                                <div #myBar
                                                    style="height: 15px; background-color: rgb(10, 206, 241); font-size: 70%; text-align: right; width: 0%;">
                                                    <label #lbBar class="TextInput"
                                                        style="font-weight: bold; color:rgb(255, 255, 255);"></label>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col" style="text-align: right">
                                                    <label #readingTime class="TextInput"
                                                        style="font-weight: bold"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <div class="col-sm-2">
                                                        <img #photo id="Photo" src="assets/images/PNIDCard.JPG"
                                                            width="81" height="97">
                                                    </div>
                                                </div>
                                                <div class="col my-2">
                                                    <div>
                                                        <label #physicalAddress class="TextInput"
                                                            style="font-weight: bold"></label>
                                                    </div>
                                                </div>
                                            </div>
                                          
                                            <form [formGroup]="visitorForm" (ngSubmit)="onSubmit()">
                                                <div class="row g-0 gx-3">
                                                    <hr class="my-2">

                                                    <div class="col-sm-4 gy-1">
                                                        <label for="firstName_T" class="form-label my-0">ชื่อ</label>
                                                        <input #firstNameT type="text" class="form-control" id="firstName" formControlName="firstName"
                                                            style="height: 25px">
                                                    </div>

                                                    <div class="col-sm-4 gy-1">
                                                        <label for="lastName_T" class="form-label my-0">นามสกุล</label>
                                                        <input #lastNameT type="text" class="form-control" formControlName="lastName"
                                                            style="height: 25px">
                                                    </div>

                                                    <div class="col-sm-4 gy-1">
                                                        <label for="nidnum" class="form-label my-0">บัตรประชาชน</label>
                                                        <input #nidNum type="text" class="form-control" formControlName="idCard"
                                                            style="height: 25px">
                                                    </div>



                                                    <div class="col-12 gy-1">
                                                        <label for="addressArea" class="form-label my-0">ที่อยู่</label>
                                                        <div class="input-group has-validation">
                                                            <textarea #address class="form-control my-0"
                                                                rows="3"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 gy-1">
                                                        <label for="phone" class="form-label my-0">โทรศัพท์</label>
                                                        <input type="text" class="form-control" formControlName="phone"
                                                            style="height: 25px">
                                                    </div>

                                                    <hr class="my-2">

                                                    <div class="col-sm-4 gy-1">
                                                        <label for="destFloor" class="form-label my-0">ติดต่อชั้น</label>
                                                        <input type="text" class="form-control" formControlName="destFloor" style="height: 25px">
                                                    </div>

                                                    <div class="col-sm-4 gy-1">
                                                        <label for="bussiness" class="form-label my-0">ติดต่อธุระ</label>
                                                        <input type="text" class="form-control" formControlName="bussiness" style="height: 25px">
                                                    </div>

                                                    <div class="col-sm-4 gy-1">
                                                        <label for="token" class="form-label my-0">บัตรอนุญาติ</label>
                                                        <input type="text" class="form-control" formControlName="token" style="height: 25px">
                                                    </div>
                                                

                                                </div>

                                                <div class="row">
                                                    <div class="col-4">
                                                      <button class="btn btn-primary btn-block" type="submit"
                                                      [disabled]="visitorForm.invalid">Submit</button>
                                                    </div>

                                                    <div class="col-4">
                                                        <button class="btn btn-warning btn-block" type="reset" (click)="clearScreen()"
                                                        >ล้างค่า</button>
                                                      </div>
                                                  </div>
                                            </form>
                                        </div>
                                        <div class="col-md-5 col-lg-4 order-md-last">
                                            
                                       
                                            <li class="list-group-item d-flex justify-content-between lh-sm border-info my-4 border-2 rounded-3"
                                                style="background-color: rgb(245, 245, 219);">
                                                <!-- <div class="row w-100">

                                                    <div class="col-12 text-center my-2">
                                                        <button #btngetreaderlist
                                                            class="w-100 btn btn-info btn-lg text-white fw-bold"
                                                            type="submit" (click)="getReaderlist()"
                                                            id="btngetreaderlist">Get Reader List</button>
                                                    </div>
                                                    <div class="col-12 my-2">
                                                        <select #listReadername class="form-select" name="form-select">
                                                            <option value="">Reader not found</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12 text-center my-2">
                                                        <button class="btn btn-success btn-lg text-white fw-bold"
                                                            type="submit" (click)="readNIDCard()">อ่านบัตร</button>
                                                    </div>
                                                </div> -->
                                            </li>


                                        </div>
                                    </div>
                                </main>

                            </div>
                        </div>
                        <div class="card-footer">
                            status <label #readerNameStatus class="form-check-label"></label> 
                            <span class="text text-warning" #cardStatus
                            >ไม่พบเครื่องอ่าน </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>