<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-1 thai-text">ลงทะเบียน</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/dashboard">หน้าหลัก</a></li>

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">ผู้มาติดต่อ</h3>
                        </div>

                        <div class="card-body">
                            <div class="container">

                                <main>
                                    <div class="row gx-5 my-1">
                                        <div class="col-lg-8">

                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <div class="col-sm-2">
                                                        <img #photo id="Photo" src="assets/images/PNIDCard.JPG"
                                                            width="81" height="97">
                                                    </div>
                                                </div>
                                                <div class="col my-2">
                                                    <div>
                                                        <label #physicalAddress class="TextInput"
                                                            style="font-weight: bold"></label>
                                                    </div>
                                                </div>
                                            </div>

                                            <form [formGroup]="visitorForm" (ngSubmit)="onSubmit()">
                                                <div class="row">
                                                    <hr class="my-2">

                                                    <div class="form-group col-sm-4">
                                                        <label for="firstName_T" class="form-label my-0">*ชื่อ</label>
                                                        <input #firstNameT type="text" class="form-control"
                                                            [ngClass]="{'is-invalid': isFieldInvalid('firstName')}"
                                                            id="firstName" formControlName="firstName">
                                                        <div *ngIf="isFieldInvalid('firstName')"
                                                            class="invalid-feedback">
                                                            กรุณาใส่ชื่อ
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-sm-4">
                                                        <label for="lastName_T" class="form-label my-0">*นามสกุล</label>
                                                        <input #lastNameT type="text" class="form-control"
                                                            [ngClass]="{'is-invalid': isFieldInvalid('lastName')}"
                                                            formControlName="lastName">
                                                        <div *ngIf="isFieldInvalid('lastName')"
                                                            class="invalid-feedback">
                                                            กรุณาใส่ นามสกุล
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-sm-4">
                                                        <label for="nidnum" class="form-label my-0">บัตรประชาชน</label>
                                                        <input #nidNum type="text" class="form-control"
                                                            [ngClass]="{'is-invalid': isFieldInvalid('idCard')}"
                                                            formControlName="idCard">
                                                        <div *ngIf="isFieldInvalid('idCard')" class="invalid-feedback">
                                                            ID Card must be a 13-digit number.
                                                        </div>
                                                    </div>



                                                    <div class="form-group col-sm-8">
                                                        <label for="addressArea" class="form-label my-0">ที่อยู่</label>
                                                        <div class="input-group has-validation">
                                                            <textarea #address class="form-control my-0"
                                                                rows="3"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-sm-4">
                                                        <label for="phone" class="form-label my-0">โทรศัพท์</label>
                                                        <input type="text" class="form-control" formControlName="phone">
                                                    </div>
                                                    <div class="form-group col-sm-4">
                                                        <label>เรียกลิฟท์</label>
                                                        <select class="custom-select">
                                                            <option>ทั่วไป</option>
                                                            <option>VIP</option>
                                                            <option>รถเข็นผู้พิการ</option>

                                                        </select>
                                                    </div>

                                                    <hr class="my-2">

                                                    <div class="row">

                                                        <div class="form-group col-sm-4">
                                                            <label for="destFloor"
                                                                class="form-label my-0">*ติดต่อชั้น</label>
                                                            <input type="number" class="form-control"
                                                                [ngClass]="{'is-invalid': isFieldInvalid('destFloor')}"
                                                                formControlName="destFloor">
                                                            <div *ngIf="isFieldInvalid('destFloor')"
                                                                class="invalid-feedback">
                                                                เลือกชั้นในช่วง ชั้น4 ถึง ขั้น32.
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-sm-4">
                                                            <label for="bussiness"
                                                                class="form-label my-0">ติดต่อธุระ</label>
                                                            <input type="text" class="form-control"
                                                                formControlName="bussiness">
                                                        </div>

                                                        <div class="form-group col-sm-4">
                                                            <label for="token"
                                                                class="form-label my-0">*บัตรอนุญาติ</label>
                                                            <input type="text" class="form-control"
                                                                [ngClass]="{'is-invalid': !validToken}"
                                                                formControlName="token">
                                                                <div *ngIf="!validToken" class="invalid-feedback">
                                                                    บัตรอนุญาติไม่ถูกต้อง
                                                                </div>
                                                        </div>
                                                     
                                                    </div>




                                                    <div class="row">
                                                        <div class="form-group col-sm-4">
                                                            <button class="btn btn-primary btn-block" type="submit"
                                                                [disabled]="visitorForm.invalid">บันทึก</button>
                                                        </div>

                                                        <div class="form-group col-sm-4">
                                                            <button class="btn btn-warning btn-block" type="reset"
                                                                (click)="clearScreen()">ล้างค่า</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-5 col-lg-4 order-md-last">
                                            <div id="myProgress" style="width: 80%">
                                                <div #myBar
                                                    style="height: 15px; background-color: rgb(10, 206, 241); font-size: 70%; text-align: right; width: 0%;">
                                                    <label #lbBar class="TextInput"
                                                        style="font-weight: bold; color:rgb(255, 255, 255);"></label>
                                                </div>
                                                <div class="col" style="text-align: right">
                                                    <label #readingTime class="TextInput"></label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </main>

                            </div>
                        </div>
                        <div class="card-footer">
                            status <label #readerNameStatus class="form-check-label"></label>
                            <span class="text text-warning" #cardStatus>ไม่พบเครื่องอ่าน </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>