<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-1 thai-text">ลงทะเบียน</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/dashboard">หน้าหลัก</a></li>

          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">

    <div class="container-fluid">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">ผู้มาติดต่อ</h3>
        </div>
        <div class="card-body register-card-body">
          <div>
            <form [formGroup]="visitorForm" (ngSubmit)="onSubmit()">
              <div class="input-group mb-3">
                <input class="form-control" id="firstName" formControlName="firstName" placeholder="ชื่อ">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>

              <div class="input-group mb-3">
                <input class="form-control" id="lastName" formControlName="lastName" placeholder="นามสกุล">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-users"></span>
                  </div>
                </div>
              </div>

              <div class="input-group mb-3">
                <input class="form-control" id="phone" formControlName="phone" placeholder="โทรศัพท์">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-phone"></span>
                  </div>
                </div>
              </div>

              <div class="input-group mb-3">
                <input class="form-control" id="idCard" formControlName="idCard" placeholder="เลขบัตรประชาชน">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-id-card"></span>
                  </div>
                </div>
              </div>

              <div class="input-group mb-3">
                <input class="form-control" id="token" formControlName="token" placeholder="หมายเลขบัตรอนุญาต">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-credit-card"></span>
                  </div>
                </div>
              </div>

              <div class="input-group mb-3">
                <input class="form-control" id="destFloor" formControlName="destFloor" placeholder="ติดต่อชั้น">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-building"></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <button class="btn btn-primary btn-block" type="submit"
                    [disabled]="visitorForm.invalid">Submit</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>



    </div>



  </section>
  <!-- /.content -->

</div>
<!-- /.content-wrapper -->